h2{
    color: red;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
p {
    color: blue;
}
img {align-self: start;
    width: 100px;
    border: solid;
   border-radius: 10px ;
   border-color: tomato;
   
}